@{
    ViewData["Title"] = "Home Page";
}
@* Search block *@
<div class="mh-70 position-relative">
    <div id="chart_div"></div>
    <div class="position-absolute">
        <form class=" bg-dark p-3 rounded" >
            <h4 class="text-white">Search Events</h4>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="text-white" for="inputEmail4">Town</label>
                    <input type="text" class="form-control" id="inputSearchByTown" placeholder="e.g Warsaw">
                </div>
                <div class="form-group col-md-3">
                    <label class="text-white" for="inputPassword4">Distance</label>
                    <select class="custom-select" id="selectSearchDistance">
                        <option selected>Choose...</option>
                        <option value="1">+ 10</option>
                        <option value="2">+ 25</option>
                        <option value="3">+ 50</option>
                        <option value="4">+ 100</option>
                        <option value="5">+ 250</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="text-white" for="inputPassword4">Category</label>
                    <select class="custom-select" id="selectSearchCategory">
                        <option selected>Choose...</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">
                    <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd" />
                    </svg>
                    Search
                </button>
                <a class="text-white float-right " asp-area="" asp-controller="" asp-action="">
                    <u>
                        <small>
                            Advance search
                        </small>
                    </u>
                </a>
            </div>
        </form>
    </div>
</div>

@* Map *@
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('upcoming', { 'packages': ['map'] });
    google.charts.setOnLoadCallback(drawMap);

    function drawMap() {
        var data = new google.visualization.DataTable();
        var data = new google.visualization.DataTable();

        data.addColumn('number', 'Lat');
        data.addColumn('number', 'Long');
        data.addColumn('string', 'name');

        data.addRow([37.4232, -122.0853, 'Work']);
        data.addRow([37.4289, -122.1697, 'University']);
        data.addRow([37.6153, -122.3900, 'Airport']);
        data.addRow([37.4422, -122.1731, 'Shopping']);

        var options = {
            showTooltip: true,
            showInfoWindow: true
        };

        var map = new google.visualization.Map(document.getElementById('chart_div'));

        map.draw(data, options);
    };
</script>

