@{
    ViewData["Title"] = "Home Page";
}
@* Search block *@
<div class="imp-thumbnail mb-3 d-block mx-auto" >
    <div id="chart_div"></div>
    <div class="imp-thumbnail col-md-10  mr-5 ml-5 d-block mx-auto ">
        <form class=" bg-dark p-3 rounded" method="get" action="/Home/Index">
            <h4 class="text-white">Search Events</h4>
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <label class="text-white" for="inputEmail4">Town</label>
                    <input name="city" type="text" class="form-control" id="inputSearchByTown" placeholder="e.g Warsaw">
                </div>
                <div class="form-group col-md-3 ">
                    <label name="distance" class="text-white" for="inputPassword4">Distance</label>
                    <div class="slidecontainer">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="text-white" for="inputPassword4">Category</label>
                    <select name="category" class="custom-select" id="selectSearchCategory">
                        <option selected>Choose...</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">
                    <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd" />
                    </svg>
                    Search
                </button>
                <a class="text-white float-right " asp-area="" asp-controller="" asp-action="">
                    <u>
                        <small>
                            Advance search
                        </small>
                    </u>
                </a>
            </div>
        </form>
    </div>
</div>


