@{
    ViewData["Title"] = "Home Page";
}

<div id="chart_div" style="height: 500px; width: 100%"></div>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('upcoming', { 'packages': ['map'] });
    google.charts.setOnLoadCallback(drawMap);

    function drawMap() {
        var data = new google.visualization.DataTable();
        var data = new google.visualization.DataTable();

        data.addColumn('number', 'Lat');
        data.addColumn('number', 'Long');
        data.addColumn('string', 'name');

        data.addRow([37.4232, -122.0853, 'Work']);
        data.addRow([37.4289, -122.1697, 'University']);
        data.addRow([37.6153, -122.3900, 'Airport']);
        data.addRow([37.4422, -122.1731, 'Shopping']);

        var options = {
            showTooltip: true,
            showInfoWindow: true
        };

        var map = new google.visualization.Map(document.getElementById('chart_div'));

        map.draw(data, options);
    };
</script>

