@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1 style="text-align:center;">Polityka cookies i prywatności</h1>
</div>

<div>
<h2>§ 1. Postanowienia ogólne</h2>

<ol><li>Poniższa Polityka Prywatności opisuje kwestie ochrony danych osobowych związane z korzystaniem z serwisu www.EventStack.pl („Serwis”).</li>
	<li>Rozdział „Polityka Cookies” dotyczy wszystkich korzystających z Serwisu, a rozdział „Dane Osobowe” dotyczy wyłącznie osób, które zapisały się na świadczenie im Usług. </li>
	<li>Niniejsza polityka prywatności ("Polityka prywatności") stanowi część regulaminu korzystania z serwisu www.EventStack.pl ("Regulamin", "Serwis").</li>
	<li>Polityka Prywatności określa zasady prywatności i przetwarzania danych osobowych Użytkowników Serwisu w oparciu o przepisy Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE („RODO”).</li>

</ol><h2>§ 2. Dane osobowe</h2>

<div>1. Administratorem podanych danych jest startup EventStack, służący do wyszukiwania wydarzeń ("EventStack")</div>

<div>2. EventStack może przetwarzać dane osobowe:</div>

<div>1. w celu przesyłania treści marketingowych na podstawie art. 6 ust. 1 lit. a RODO</div>

<div>2. w celu gromadzenia opinii, sugestii i recenzji oraz ich publikowania na podstawie art. 6 ust. 1 lit. a RODO;</div>

<div>3. w celach kontaktowych  na podstawie prawnie uzasadnionego interesu EventStack (art. 6 ust. 1 lit. f RODO) przejawiającego się w odpowiedzi na zadane poprzez formularz kontaktowy pytanie;</div>

<div>4. w celu wykonania umowy o świadczenie usług drogą elektroniczną na zasadach opisanych w Regulaminie korzystania z serwisu EventStack.pl na podstawie  art. 6 ust. 1 lit. b RODO.</div>

