@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1 style="text-align:center;">Polityka cookies i prywatności</h1>
</div>

<div>
<h2>§ 1. Postanowienia ogólne</h2>

<ol><li>Poniższa Polityka Prywatności opisuje kwestie ochrony danych osobowych związane z korzystaniem z serwisu www.EventStack.pl („Serwis”).</li>
	<li>Rozdział „Polityka Cookies” dotyczy wszystkich korzystających z Serwisu, a rozdział „Dane Osobowe” dotyczy wyłącznie osób, które zapisały się na świadczenie im Usług. </li>
	<li>Niniejsza polityka prywatności ("Polityka prywatności") stanowi część regulaminu korzystania z serwisu www.EventStack.pl ("Regulamin", "Serwis").</li>
	<li>Polityka Prywatności określa zasady prywatności i przetwarzania danych osobowych Użytkowników Serwisu w oparciu o przepisy Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE („RODO”).</li>

</ol><h2>§ 2. Dane osobowe</h2>

<div>1. Administratorem podanych danych jest startup EventStack, służący do wyszukiwania wydarzeń ("EventStack")</div>

<div>2. EventStack może przetwarzać dane osobowe:</div>

<div>1. w celu przesyłania treści marketingowych na podstawie art. 6 ust. 1 lit. a RODO</div>

<div>2. w celu gromadzenia opinii, sugestii i recenzji oraz ich publikowania na podstawie art. 6 ust. 1 lit. a RODO;</div>

<div>3. w celach kontaktowych  na podstawie prawnie uzasadnionego interesu EventStack (art. 6 ust. 1 lit. f RODO) przejawiającego się w odpowiedzi na zadane poprzez formularz kontaktowy pytanie;</div>

<div>4. w celu wykonania umowy o świadczenie usług drogą elektroniczną na zasadach opisanych w Regulaminie korzystania z serwisu EventStack.pl na podstawie  art. 6 ust. 1 lit. b RODO.</div>

<div> </div>

<div>2. Przetwarzanie danych osobowych w celu przesyłania treści marketingowych</div>

<div> </div>

<div>1. W przypadku wyrażenia zgody marketingowej na udostępniony adres e-mail będą przesyłane informacje o charakterze marketingowym w tym newsletter serwisu EventStack.pl</div>

<div>2. Newsletter może zawierać informacje o charakterze informacji handlowych, a także informacje o najnowszych artykułach oraz aktualnościach serwisu EventStack.pl. </div>

<div>3. Udostępnienie w powyższym celu identyfikującego  adresu elektronicznego będzie uznawane jako zamówienie informacji handlowej zgodnie z art.10 ust. 2 ustawy o świadczeniu usług drogą elektroniczną.</div>

<div>4. Podanie danych osobowych w celu przesyłania treści marketingowych na podany adres e-mail jest dobrowolne, jednak nie  podanie ich uniemożliwi przesyłanie treści marketingowych.</div>

<div>5. Przekazane dane w celu przesyłania treści marketingowych będą przetwarzane do momentu wycofania zgody na przetwarzanie danych osobowych w celu marketingu, jednak nie dłużej niż 10 lat.</div>

<div>6. Osoba, której dane dotyczą, może w każdej chwili zrezygnować z otrzymywania dalszych informacji handlowych za pośrednictwem poczty elektronicznej poprzez kliknięcie w służący do rezygnacji z otrzymywania informacji handlowych link ("Zrezygnuj z otrzymywania wiadomości") znajdujący się w stopce każdej wiadomości e-mail</div>

<div>7. EventStack uznaje skorzystanie z tego przycisku za wycofanie zgody na przetwarzanie danych w celach marketingowych.</div>

<div> </div>

<div>3. Przetwarzanie danych w celu gromadzenia opinii, sugestii i recenzji </div>

<div> </div>

<div>1. Podanie danych i wyrażenie zgody na ich przetwarzanie w celu gromadzenia opinii, sugestii lub recenzji przez serwis EventStack.pl jest dobrowolne.</div>

<div>2. W przypadku wyrażenia zgody na przetwarzanie danych w celu gromadzenia i zarządzania opiniami zgodę można wycofać poprzez przesłanie e-mail na adres: info@eventstack.pl</div>

<div>3. Przekazane dane będą przetwarzane przez okres publikacji wiadomości lub do czasu cofnięcia zgody na przetwarzanie w tym celu, jednak nie dłużej niż przez okres 10 lat. </div>

<div> </div>

<div>4. Przetwarzanie danych osobowych w celach kontaktowych</div>

<div> </div>

