@{
    ViewData["Title"] = "Register";
}

  <div class="container">
	<div class="row">
	<div class="modal-content">

    					<div class="modal-header" >
							
							<h4 class="modal-title" >Stwórz nowe konto</h4>
						</div>

						<form action="" method="post">
							<div class="modal-body">
								<div class="form-group">
									<label for="userEmail">Podaj swoją nazwę/imię</label>
									<input type="text" class="form-control" required="" name="userName" value="">
									<p></p>
									<label for="userEmail">Podaj adres e-mail</label>
									<input type="text" class="form-control" required="" name="userEmail" value="">
									<span class="help-block">Twój adres e-mail będzie wykorzystywany w celu zalogowania.</span>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="password">Hasło</label>
											<input type="password" class="form-control" required="" name="password" value="">
											<span class="help-block">Wpisz hasło dla Twojego konta.</span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="passwordr">Powtórz hasło</label>
											<input type="password" class="form-control" required="" name="passwordr" value="">
											<span class="help-block">Wpisz hasło ponownie. Hasła muszą być identyczne!</span>
										</div>
									</div>
								</div>
							</div>

							<div class="modal-footer">
								<input type="hidden" name="isEmpty" value="">
								<button type="button" name="submit" value="createAccount" class="btn btn-success btn-icon"><i class="fa fa-check"></i> Stwórz konto</button>
								<a asp-area="" asp-controller="Home" asp-action="Index"> 
									<button type="button" class="btn btn-danger" data-dismiss="modal">
										 Anuluj
									</button>
								</a>
							</div>
						</form>

					</div>
	</div>
</div>	