@{
    ViewData["Title"] = "Register";
}

  <div class="container">
	<div class="row">
	<div class="modal-content">

    					<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
							<h4 class="modal-title">Ready to Join? Create a New Account</h4>
						</div>

					