@{
    ViewData["Title"] = "Lista wydarzeń";
} 

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="~/img/Koncert1.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Koncert w Chełmie</h4>
                    <p class="card-text">To właśnie w Chełmie zakończy się Wakacyjna Trasa Dwójki, jedno z najchętniej oglądanych wydarzeń muzycznych 2019 roku. Plenerowe koncerty cyklu „Lato, Muzyka, Zabawa” gromadziły setki przed sceną a setki tysięcy widzów przed telewizorami.</p>
                    <a href="https://www.facebook.com/pg/Eventstacktest-109139734073006/events/?ref=page_internal" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="~/img/warsawsummerdays2.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">29. Warsaw Summer Jazz Days</h4>
                    <p class="card-text">29 edycja międzynarodowego festiwalu jazzowego Warsaw Summer Jazz Days odbędzie się w dniach 09-12 lipca 2020:</p>
                    <a href="#" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="//placehold.it/500x180" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This card has supporting text below as a natural lead-in. 
                     Aliquam codeply mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
                    <a href="#" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Card title another</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <a href="https://www.facebook.com/pg/Eventstacktest-109139734073006/events/?ref=page_internal" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="~/img/orangewarsawfestival2021.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Orange Warsaw Festival 2021</h4>
                    <p class="card-text">Zachowując swój bilet na Orange Warsaw Festival 2020 zyskujesz gwarancję udziału w festiwalu w 2021 roku w najlepszej cenie. W ten sposób wspierasz również artystów i cały świat muzyczny w czasach pandemii.</p>
                    <a href="https://www.facebook.com/pg/Eventstacktest-109139734073006/events/?ref=page_internal" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
    </div>