@{
    ViewData["Title"] = "Login";
}

<div class="wrapper fadeInDown zero-raduis">
		<div id="formContent">
			<!-- Tabs Titles -->
  	    <!-- Icon -->
  	    <div class="fadeIn first">
  	      <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
  	      <h2 class="my-5">Zaloguj się</h2>
  	    </div>	    

 <!-- Login Form -->
  	    <form>
  	      <input type="email" id="email" class="fadeIn second zero-raduis" name="email" placeholder="email">
  	      <input type="text" id="password" class="fadeIn third zero-raduis" name="login" placeholder="hasło">
		      <div id="formFooter">
  	      	<a class="underlineHover" href="#">Zapomniałeś hasła?</a>
  	      </div>
  	      <input type="submit" class="fadeIn fourth zero-raduis" value="login">
  	      <h2>Nie masz jeszcze konta?</h2>
          <a class="fadeIn fourth zero-raduis pc btn btn-info" asp-area="" asp-controller="Register" asp-action="Index">Zarejestruj</a>
  	    </form>
          
  	  </div>
  </div>